.home {
  font-weight: 200;
  margin-right: 25px;
  font-size: 0.9rem;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}

.buttonText:hover {
  color: gray;
  cursor: pointer;
  transition: 1s;
}
