.mainProjectContainer {
  height: 215vh;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainer {
  width: 100%;
  height: 5%;
  text-align: end;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottomContainer {
  width: 100%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContainer {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.titleContainer p {
  border-bottom: 1px solid black;
}

.descContainer {
  max-height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descText {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.descText a {
  color: gray;
  text-decoration: none;
}

.descText a:hover {
  color: black;
  transition: 0.3s;
}

.descText::-webkit-scrollbar {
  width: 1px;
}

.descText::-webkit-scrollbar-thumb {
  background-color: black;
}

.descText::-webkit-scrollbar-track {
  background-color: transparent;
}

.descText p {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  text-align: justify;
  font-size: 0.8rem;
}

/*  */
.imagesContainer {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  height: 19%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 80%;
  width: 80%;
  opacity: 0.75;
  object-fit: cover;
}

.image:hover {
  cursor: none;
  opacity: 1;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .topContainer {
    margin-top: 2rem;
  }

  .mainProjectContainer {
    min-height: auto;
  }

  .descContainer {
    max-height: 50vh;
    margin-top: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;
    overflow-y: scroll;
    align-items: flex-start;
  }

  .imagesContainer {
    margin-bottom: 3rem;
    min-height: 100vh;
  }

  .imageContainer {
    height: 30vh;
    width: auto;
  }
}
