.appContainer {
  display: flex;
  flex-direction: row;
  font-family: "andale mono", "Reddit Mono", monospace;
}

/* Resp. */

@media screen and (max-width: 600px) {
  .appContainer {
    flex-direction: column;
    overflow: hidden;
  }
}
